.currency {
  display: flex;
}
.currency select {
  border: none;
  outline: none;
  font-size: 18px;
}
.currency option {
  border: none;
  outline: none;
  font-size: 18px;
}

.cartBox {
  cursor: pointer;
}
.custom-select-container {
  display: inline-block;
  min-width: 110px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.selected-text {
  padding: 6px 30px;  
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 12px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.selected-text.active::after {
  transform: rotate(-135deg);
}


.select-options {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 40px;
  width: 100%;
  box-shadow: 0 0 1.5px rgba(0,0,0,0.3);
}

.custom-select-option  {
  list-style-type: none;
  padding: 6px 20px;
  cursor: pointer;
}
.custom-select-option:hover {
  background-color: #dcdcdc;
}