.currency {
  display: flex;
}
.currency select {
  border: none;
  outline: none;
  font-size: 18px;
}
.currency option {
  border: none;
  outline: none;
  font-size: 18px;
}

.cartBox {
  cursor: pointer;
}