.main-cart { 
  margin-top: 85px;
  padding-bottom: 50px;
  color: #1D1F22;
}
.cart {
  font-weight: bold;
  font-size: 32px;  
}
.items-wrapper {
  margin-top: 70px;
}
.quantityandthumb button {
  width: 45px;
  height: 45px;
  font-size: 24px;
  font-weight: 300;
  opacity: 0.8;
}
.quantityandthumb p {
  font-size: 24px;
}
.main-cart .thumbnail div {
  position: relative;
}
