.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}
.select-currency {
  text-align: center;
}
.select-currency option {
  text-align: center;
}