.attribute-value {
  width: 60px;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.attribute-selected {
  background-color: black;
  color: #fff;
}
.actives {
  background-color: black !important; 
  color: white !important;
  border: none !important;
  opacity: 1 !important;
}
.attr-set {
  margin-top: 10px;
}
.active-trans {
  border-radius: 50% !important;
  opacity: 1 !important;
}
.mini-attributes .attribute-value{
opacity: 0.3;
}
.item-attrname {
  margin-top: 10px;
}

.main-cart .attribute-value {
  width: 60px;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}